.field-picker-container {
  position: absolute;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  width: 300px;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #21293c;
  padding: 24px;
  padding-top: 8px;
  overflow: hidden;
}

.field-picker-container.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.field-picker-container .clickable {
  cursor: pointer;
}

.field-picker-container.hide,
.field-picker-container .hide {
  display: none;
}

.field-picker-container .flex {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.field-picker-container .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.field-picker-container .justify-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-around;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.field-picker-container .field-picker-item {
  margin-top: 16px;
}

.field-picker-container .field-picker-item .field-picker-title {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #21293c;
}

.field-picker-container .field-picker-item-children {
  margin-left: 12px;
}

.field-picker-container .field-picker-item-children .field-picker-append {
  width: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #667190;
  margin-right: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.field-picker-container .field-picker-item-children .field-picker-append2 {
  width: 30px;
}

.field-picker-container input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.field-picker-container .field-checkbox-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
  border-radius: 2px;
  position: relative;
}

.field-picker-container .field-checkbox-item::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  width: 5px;
  height: 9px;
  -webkit-transform: rotate(45deg) scaleY(0);
  -moz-transform: rotate(45deg) scaleY(0);
  -ms-transform: rotate(45deg) scaleY(0);
  -o-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  -webkit-transition: transform 0.1s ease-in 0.05s;
  -moz-transition: transform 0.1s ease-in 0.05s;
  -ms-transition: transform 0.1s ease-in 0.05s;
  -o-transition: transform 0.1s ease-in 0.05s;
  transition: transform 0.1s ease-in 0.05s;
}

.field-picker-container .field-checkbox-container .is-indeterminate {
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
}

.field-picker-container .field-checkbox-container .is-indeterminate::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #667190;
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 6px;
}

.field-picker-container .field-checkbox-container input[type="checkbox"]:checked + span {
  background-color: #428eff;
  border-color: #428eff;
}

.field-picker-container .field-checkbox-container input[type="checkbox"]:checked + span::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  -moz-transform: rotate(45deg) scaleY(1);
  -ms-transform: rotate(45deg) scaleY(1);
  -o-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}

.field-picker-container .field-checkbox-container input[type="checkbox"]:disabled + span {
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
  border-radius: 2px;
}

.field-picker-container .field-checkbox-container input[type="checkbox"]:disabled + span::after {
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid #a9b5c2;
  border-left: 0;
  border-top: 0;
  width: 5px;
  height: 9px;
}
